@tailwind base;
@tailwind components;
@tailwind utilities;

#top{
    background-image: url(../src/images/homepage.jpg);
    background-size: cover;
    background-position: center;
}
#top {
    position: relative;
    background-image: url(../src/images/homepage.jpg);
    background-size: cover;
    background-position: center;
}

#top {
    position: relative;
    background-image: url(../src/images/homepage.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    z-index: -10; 
}
#navbg {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
#sec{
    background-position: center;
    background-size: cover;
    background-image: url(../src/images/sec.jpg);
}