@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

/* Existing styles */
#top {
  @apply relative bg-cover bg-center;
  background-image: url(../src/images/homepage.jpg);
  height: 100%;

  &::after {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-80 z-[-10];
  }
}

#glass {
  @apply bg-opacity-30 backdrop-blur;
  background: rgba(255, 255, 255, 0.3);
}

#navbg {
  @apply bg-opacity-30 backdrop-blur;
  background: rgba(255, 255, 255, 0.3);
}

#sec {
  @apply bg-cover bg-center;
  background-image: url(../src/images/sec.jpg);
}

#hero-section {
  @apply w-full h-1/2 relative overflow-hidden;
}

#hero-section img {
  @apply w-full h-auto object-cover;
}

.transport-container img {
  @apply w-full h-1/2 object-cover rounded-xl;
}

.transport-container {
  @apply w-[calc(50%-10px)] shadow-md rounded-lg p-4;
}

.booking-form {
  @apply bg-gray-200 p-6 rounded-lg max-h-[75vh] overflow-y-auto shadow-md;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"],
.booking-form input[type="date"],
.booking-form input[type="number"],
.booking-form button {
  @apply w-[calc(100%-20px)] p-4 mb-4 border rounded-lg;
}

.booking-form button {
  @apply bg-orange-500 text-white cursor-pointer mr-4;
}

.booking-form button:last-child {
  @apply mr-0;
}

.booking-form button:hover {
  @apply bg-orange-600;
}
